.main-box {
    display: flex;
    justify-content: center;
    column-gap: 23px;
    margin-top: 20px;
}

.left-box {
    width: 840px;
}

.box-border {
    border-radius: 5px;
    border: 1px solid #4FAE5A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.basic_information {
    border-radius: 5px;
    border: 1px solid #4FAE5A;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.right-box {
    width: 355px;
}

.each-slide-effect {
    height: 350px;
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.indicators {
    padding-left: 0 !important;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.indicator {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    color: #ffffff6b;
    font-size: 8px;
}

.indicator.active {
    color: #fff;
}

.content {
    margin-top: 10px;
}

.content-title {
    padding: 10px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    background: rgba(185, 185, 185, 0.10);
    justify-content: flex-start;
    gap: 10px;
}

.content-title p {
    font-size: 14px;
    font-weight: 600;
}